* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* outline: none; */
    /* border: none; */
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#menu-bars {
    display: none;
}

body {
    background-color: #fff;
}

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-colour: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --white: #fff;
    --blue: #25CCF7;
}

.show {
    --green: #27ae60;
    --black: #fff;
    --light-colour: #eee;
    --box-shadow: 0 .5rem 1.5rem rgba(252, 246, 246, 0.297);
    --white: #000;
}

.header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.header-1 h2 {
    font-size: 28px;
    font-weight: bolder;
    color: var(--black);
}

.navbar {
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-1 .navbar a {
    padding: 40px;
    color: var(--black);
    font-weight: bold;
}

section {}

.home {
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
}

.home .text h2 {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--blue);
}

.text h4 {
    font-size: 2rem;
    font-weight: bolder;
    color: #000;
}

.text p {
    font-weight: bolder;
    padding-bottom: 20px;
}

.text a {
    cursor: pointer;
    color: #fff;
    background-color: var(--blue);
    padding: 10px 10px;
    border-radius: 18px;
    transition: all 0.5s linear;
    font-weight: bolder;
}

.text a:hover {
    color: #000;
}

.home img {
    width: 40%;
    border-radius: 50%;
    padding-bottom: 40px;
}

.sponser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.sponser h2 {
    text-align: center;
    color: #666;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.sponser img {
    width: 150px;
    border-radius: 50%;
}

.about {
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 35px;
}

.box {
    width: 235px;
    /* height: 320px; */
    align-items: center;
    padding: 20px 20px;
    border: 2px solid #000;
    border-radius: 8px;
    text-align: center;
}

.box i {
    font-size: 30px;
}

.box p {
    color: #666;
    font-weight: 500;
}

.work {
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
}

.work img {
    width: 50%;
    border-radius: 50%;
    padding-bottom: 40px;
}

.work h2 {
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 20px;
}

.work p {
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 20px;
    color: #666;
}

.work a {
    cursor: pointer;
    color: #fff;
    background-color: var(--blue);
    padding: 10px 10px;
    border-radius: 18px;
    transition: all 0.5s linear;
    font-weight: bolder;
}

.list {
    align-items: center;
    text-align: center;
}

.list h2 {
    font-size: 25px;
    color: #25CCF7;
    padding-top: 20px;
    padding-bottom: 90px;
}

.team {
    align-items: center;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
}

.team h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 55px;
    padding-bottom: 20px;
}

.team .p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #666;
    padding-bottom: 40px;
}

.wk {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.profile {
    width: 235px;
    flex-basis: 30%;
    /* height: 320px; */
    align-items: center;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 50px;
}

.profile h5 {
    font-size: 28px;
    padding-bottom: 10px;
}

.profile p {
    font-size: 20px;
    color: #666;
}

.profile i {
    padding-top: 15px;
    font-weight: bolder;
    font-size: 25px;
    color: #25CCF7;
}

.profile .fa-facebook {
    padding-right: 10px;
}

.profile img {
    width: 30%;
}

.contact h3 {
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    /* color: #666; */
    padding-bottom: 55px;
}

.width {
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 35px;
}

.width .first p {
    padding-bottom: 35px;
}

.width .first ul {
    list-style-type: none;
}

.width .first ul li {
    padding-bottom: 8px;
}

.width .first i {
    color: #25CCF7;
}

.width .second form {
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; */
    display: inline-block;
    padding-bottom: 35px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form input {
    width: 100%;
    display: block;
    padding: 10px 10px;
    border: 3px solid #666;
    font-weight: bolder;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

form .input-box select {
    width: 100%;
    display: block;
    border: 2px solid #666;
    border-radius: 8px;
    padding: 10px 10px;
    font-weight: bolder;
    outline: none;
    color: #666;
    cursor: pointer;
}

form button {
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    border: 2px solid #666;
    border-radius: 8px;
    background-color: #666;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}

.input-box {
    padding-bottom: 30px;
}

@media(max-width:688px) {
    #menu-bars {
        display: inline-block;
    }
    .navbar {
        position: absolute;
        top: 10%;
        right: 0;
        left: 0;
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
    }
    .navbar.menu-show {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        /* display: contents; */
    }
    .navbar a {
        display: block;
        padding: 15px;
        margin: 10px;
        font-size: 20px;
        background: #eee;
    }
}

@media(max-width:388px) {
    .header-1 {
        justify-content: space-around;
        padding: 0 0;
    }
    .header-1 h2 {
        font-size: 18px;
    }
    .home {
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        width: 388px;
        max-width: 95%;
        margin: 0 auto;
    }
    .home .text h2 {
        font-size: 10px;
        font-weight: bolder;
        color: var(--blue);
    }
    .text h4 {
        font-size: 8px;
        font-weight: bolder;
        color: #000;
    }
    .text p {
        font-weight: bolder;
        padding-bottom: 20px;
        font-size: 8px;
    }
    .text a {
        padding: 10px 10px;
        font-size: 8px;
    }
    .sponser h2 {
        text-align: center;
        color: #666;
        font-weight: bold;
        font-size: 10px;
        padding-bottom: 30px;
    }
    .sponser img {
        width: 100px;
        border-radius: 50%;
    }
    .about {
        flex-direction: column;
    }
    .box {
        width: 235px;
        /* height: 320px; */
        align-items: center;
        padding: 20px 20px;
        border: 2px solid #000;
        border-radius: 8px;
        text-align: center;
        justify-content: space-between;
    }
    .box i {
        font-size: 15px;
    }
    .box p {
        font-size: 8px;
        color: #666;
        font-weight: 500;
    }
    .box h2 {
        font-size: 15px;
    }
    .work {
        flex-direction: column;
    }
    .work img {
        width: 50%;
        border-radius: 50%;
        padding-bottom: 40px;
    }
    .work h2 {
        font-weight: bolder;
        font-size: 15px;
        padding-bottom: 20px;
    }
    .work p {
        font-weight: bolder;
        font-size: 8px;
        padding-bottom: 20px;
        color: #666;
    }
    .work a {
        font-size: 8px;
    }
    .team h2 {
        text-align: center;
        font-weight: bolder;
        font-size: 15px;
        padding-bottom: 20px;
    }
    .team .p {
        text-align: center;
        font-weight: 600;
        font-size: 8px;
        color: #666;
        padding-bottom: 40px;
    }
    .profile h5 {
        font-size: 15px;
    }
    .profile p {
        font-size: 8px;
    }
    .wk {
        flex-direction: column;
    }
    .width {
        flex-direction: column;
    }
    .contact h3 {
        font-size: 15px;
        padding-bottom: 35px;
    }
    .first h2 {
        font-size: 15px;
    }
    .first p {
        font-size: 8px;
    }
    .first ul li {
        font-size: 8px;
        padding-bottom: 90px;
    }
    .second {
        padding-top: 90px;
        font-size: 8px;
    }
}